
body{
background-color:#222;
color:#666;
font-family:"Courier New";
margin:0px;
font-size:5vw;
line-height:1;
}


.hea{
font-size:3vw;
color:white;
}

a{color:#dc143c;
font-size:4vw;
}

a.currentPage{
color:#dc143c;
font-weight:normal;
}

a.pages{
color:#666;
font-weight:normal;
}

#page{
    width:100%;
    clear:both;
}

#contents{
clear:both;
}

h3,h4{
font-family:"Courier New";
font-size:4vw;
font-weight:normal;
color:#666;
margin-top:20px;
display:inline;
clear:both;
}

.tip{
display:block;
margin-left:auto;
margin-right:auto;
padding:20px;
background-color:#111;
width:90%;
box-shadow: 10px 5px 5px black;
clear:both;
overflow:hidden;
line-height:1.1;
 }

.tip img{
display:block;
width:20%;
margin:10px;
}

.tip a{
color:#dc143c;
}

h2{
font-family:"Courier New";
font-size:4vw;
text-align:left;
letter-spacing:0px;
margin-left:0px;
color:#fff;
font-weight:normal;
font-style:italic;
width:80%;
clear:both;
}

h1{font-size:5vw;
color:#dc143c;
font-weight:normal;    
text-decoration:underline;
clear:both;
line-height:1;
}

#footer{
margin-top:20px;
color:#dc143c;
clear:both;
}

#footer a{
background-color:#333;
padding:1vw;
} 

/*#front{
display:block;
float:left;
clear:both;
}*/

#_latestContent{
display:block;
margin-right:10%;
clear:both;
line-height:0.8;
}

#_latestContent a{
color:#666;
text-decoration:none;
font-size:4vw;
 }

table{
border:0px;
border-spacing:0px;
}

table tr:nth-child(1){
margin-top:-6px;
background-color:#000;
}

table tr:nth-last-child{
text-align:left;
}
table.right{
width:30%; 
display:block;
float:right;
margin-top: -40px;
margin-left:20px;
margin-bottom:20px;
font-family : "Courier";
color:#0000BB;
text-align:center;
clear:left;
} 

table.left{
width:30%; 
display:block;
float:left;
margin-top:10px;
margin-left:10px;
margin-right:40px;
margin-bottom:20px;
font-family : "Courier";
color:#0000BB;
text-align:center;
clear:right;
}

table.heading{
width:100%; 
display:block;
float:left;
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
font-family : "Courier";
color:#0000BB;
text-align:left;
clear:both;
border:0px;
border-spacing:0px;
}

table.heading img{
    width:80%;
    margin:0px;
    margin-bottom:0px;
}

table img{
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

#_backRetu{
    display:block;
    float:right;
    background-color:#333;
    margin-top:10px;
    padding:2vw;
    clear:both;
}
/*iframe{
    margin-top:20px;
    margin-bottom:20px;
}*/

#front{
overflow:hidden;
padding-bottom:56.25%; 
position:relative; 
height:0;
}

#front iframe  {
left:0; 
top:0; 
height:100%;
width:100%;
position:absolute;
}

.left{
float:left;
}

.right{
float:right;
}

div.left{
position:relative;
float:left;
color:#666;
top:-10px;
}

div.right{
float:right;
color:#666;
margin-bottom:20px;
text-align:right;
clear:all;
margin-right:5%;
}
}
/*
    feuille de style principal

*/