body{
background-color:#222;
color:#666;
font-family:"Courier New";
margin:0px;
margin-left:0px;
font-size: 1em;
line-height:2em;
}

caption{
color:#666;
display: inline;
text-align: left;
}

.hea{
line-height:1em;
display:block;
height:-30px;
font-size:1.4em;
color:white;
margin-left:5px;
margin-bottom:2em;
margin-top:20px;
}

.hea a{
    line-height:1em;
    font-size:1.3em;
}

.hea2{
clear:both;
padding:1em;
line-height:1em;
display:block;
height:-30px;
font-size:1.4em;
font-width:bold;
color:#dc143c;
background-color: #666;
float:right;
margin-top:30px;
margin-right:30px;
margin-bottom: 30px;
white-space: nowrap;
overflow: hidden;
}

#top{
    font-family:"Courier New";
    width:50%;
    display:block;
    color:#0000bb;
    font-size:2em;
    white-space:normal;
    margin-left:auto:
    margin-right:auto;
}

a{color:#dc143c;
font-size:1em;
line-height:1vw;
}

a.currentPage{
color:#dc143c;
font-weight:bold;
}

a.pages{
color:#666;
font-weight:normal;
}

#page{
    width:100%;
    clear:both;
}

#contents{
clear:both;
margin-left:0px;
}

h3,h4{
font-family:"Courier New";
font-weight:normal;
font-size:2em;
line-height:1.2em;
color:#666;
margin-top:20px;
display:inline;
clear:both;
margin-left:40px;
padding-left:0vw;
}

.tip{
display:block;
margin-left:auto;
margin-right:auto;
padding:20px;
background-color:#111;
width:100%;
clear:both;
overflow:hidden;
line-height:2.2em;
 }

.tip img{
display:block;
width:20%;
margin:10px;
}

.tip a{
color:#dc143c;
}

.suite{
    color:#dc143c;
    font-size:2em;
}

h2{
font-family:"Courier New";
font-size:1.4em;
line-height:1em;
text-align:left;
letter-spacing:0px;
color:#fff;
font-weight:normal;
font-style:italic;
width:80%;
clear:both;
}

h1{font-size:3em;
color:#dc143c;
font-weight:normal;
text-decoration:underline;
clear:both;
line-height:1em;
}

#footer{
display:block;
margin-top:80px;
color:#dc143c;
clear:both;
height:200px;
}

#footer a{
font-size:2em;
background-color:#333;
padding:2vw;
}

/*#front{
display:block;
float:left;
clear:both;
}*/

#_latestContent{
margin-right:1%;
clear:both;
line-height:2em ;
margin-bottom:6em;
}

#_latestContent a{
color:#666;
text-decoration:none;
font-size:2em;
 }

table{
border:0px;
border-spacing:0px;
font-size:2em;
}

table tr:nth-child(1){
margin-top:-6px;
background-color:#000;
}

table tr:nth-last-child{
text-align:left;
}
table.right{
width:40%;
display:block;
float:right;
margin-top: 20px;
margin-left:3vw;
margin-right:0vw;
font-family : "Courier";
color:#0000BB;
text-align:center;
clear:left;
}

table.left{
width:100%;
display:block;
float:left;
margin-top:0px;
margin-left:0vw;
margin-right:3vw;
margin-bottom:1vw;
font-family : "Courier";
color:#0000BB;
text-align:left;
clear:right;
}

table.heading{
width:100%;
display:block;
float:left;
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
font-family : "Courier";
color:#0000BB;
text-align:left;
clear:both;
border:0px;
border-spacing:0px;
}

table.heading img{
    width:100%;
    margin-left:0px;
    margin-bottom:0px;
}

table.heading td{
  width:100%;
}

table img{
    width:100%;
    margin-left:auto;
    margin-right:auto;
}

#_backRetu{
    display:block;
    float:right;
    background-color:#333;
    margin-top:10px;
    padding:1.1em;
    font-size:1.4em;
    clear:both;
}
/*iframe{
    margin-top:20px;
    margin-bottom:20px;
}*/

#front{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}

#front iframe  {
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

.left{
float:left;
}

.right{
float:right;
}

div.left{
position:relative;
margin-bottom:-2vw;
float:left;
color:#0000bb;
font-size:2em;
clear:both;
}

div.right{
float:right;
color:#0000bb;
margin-bottom:20px;
margin-top:-20px;
text-align:right;
clear:both;
margin-right:0%;
font-size:2em;
}

/*
    feuille de style principal

*/
