img{
  display:none;
}

body{
display:inline-block;
background-color:#222;
color:#555;
font-family:"Courier New";
margin:0px;
margin-left:0px;
font-size: 1.7em;
line-height:1.2em;
}

#front{
  display: none;
}

#footer{
    display:none;
}

h1{
  display:none;
}

h3{
  display:none;
}

table{
  display:none;
}

.tip{
  display:none;
}
