#page{
    font-family: Arial;
    color:#000;
    text-align: center;
}

#contents{
    width: 440px;
    margin-left:auto;
    margin-right:auto;
}

h1{
    font-size:5vw;
    text-decoration: underline;
}

h4{
    font-size: 2vw;
}

h4 a{
    text-decoration: none;
    color:#264ec5;
}

h5{
    font-size:1.2vw;
}