body{
    margin:0;
    background:#000;
    color:#efefef;
}

#page{
}

#header{
}

#contents{
}

h1{
    font-family: "Arial";
    font-size: 2em;
    line-height: 0.8em;
    color:#55a532;
    font-style: italic;
}
p{
    font-family:"Times New Roman";
    font-size:1.4em;
    line-height: 1em;
    font-style: italic;
}